@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .text-gradient{
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 .bg-yellow-light{
  background-color: #e5d16b;
 }
 .text-secondary-dark{
  color: rgb(235, 45, 146);
 }
 .border-secondary-dark{
  border-color: rgb(235, 45, 146);
 }
 .text-primary-dark{
  color: #f1c902;
 }
 .border-primary-medium{
  border-color: #eed764;
 }
 .border-secondary-medium{
  border-color: rgb(235, 45, 146);
 }
 :hover::border-primary-dark{
  border-color: #e8c721;
 }
 .bg-hover-primary:hover{
  background: #e8c721;
 }
 .bg-hover-secondary:hover{
  background: rgb(235, 45, 146);
 }
 .custom-img{
  background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.2)), url('/Imgs/contact_bg.jpg')!important;
 }
 .ring-primary-medium:hover {
border-color: #e8c721;
 }
 /* .primary-medium{
  color: #FFEE58;
 }
 .primary-dark{
  color: #FFEB3B;
 } */
}
.card {
  background-color: theme('colors.white');
  border-radius: theme('borderRadius.lg');
  padding: theme('spacing.6');
  box-shadow: theme('boxShadow.xl');


}

.bg-primary{
  /* primary color */
}



.text-color-primary{

}


.bg-banner-img{

}

.heading-font-style{
  /* 
  font-size: 18
  font weight : bold


  */
}

.para-font-style{

}





